/* Write your CSS here */
.header-container {
  text-align: center;
  align-self: stretch;
  background-color: #cbd5e1;
  margin-bottom: 65px;
}
.header-text {
  font-family: 'Roboto';
  color: #475569;
  font-size: 32px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header-text {
    font-size: 50px;
  }
}
